@media screen and (min-device-width: 1280px) {
  nav{
   background-color: royalblue;
   height: 75px;
   display:flex;
   justify-content:center;

  }
#Elon{
  float: left;
  width: 20%;
  padding: 10px;
}
  #teslaicon{
    float: left;
    width: 20%;
    padding: 10px;
  }
  #spaceicon{
      float: left;
    width: 30%;
    padding: 10px;
  }
  p{
     text-indent:20px;
    text-align: justify;
    padding: 5px;
  }
  .menu {
      list-style: none; /*убираю маркеры списка*/
      margin: 0; /*убираю верхнее и нижнее поле, равное 1em*/
      padding-left: 0; /*убираю левый отступ, равный 40px*/

    }
a{ text-decoration: none;
    font-size: 26pt;
    color:white;}/*убираю подчеркивание текста ссылок*/
.menu1 {
  margin-right:15px; /*Добавляю отступ у пунктов меню*/
  float:right; /*Размещаю список горизонтально для реализации меню*/
}
  header{
   background-color: lightskyblue;
   height: 400px;
  }
  section{
   background-color: gray;
   height: 400px;
   margin: 75px 100px 75px 100px;
  }
  #container{
   display: flex;
   justify-content: space-between;
  }
  .box1{
   background-color: tomato;
   height: 350px;
   width: 48%;
  }
  .box2{
   background-color: tomato;
   height: 350px;
   width: 48%;
  }
  .prefooter{
   background-color: silver;
   height: 40px;
  }
  footer{
   background-color: black;
   height: 100px;
  }

  }
  @media (min-width: 551px) and (max-width: 1279px)  /*------------------------------------------------------------------------------------------------------------------------------------------------*/
  {
    nav{
     background-color: royalblue;
     height: 55px;
     display:flex;
     justify-content:center;
     width: 100%;

    }
    #Elon{
    float: left;
    width: 20%;
    padding: 10px;
    }
    #teslaicon{
      float: left;
      width: 20%;
      padding: 10px;
    }
    #spaceicon{
        float: left;
      width: 30%;
      padding: 10px;
    }
    p{
       text-indent:20px;
      text-align: justify;
      padding: 5px;
    }
    .menu {
        list-style: none; /*убираю маркеры списка*/
        margin: 0; /*убираю верхнее и нижнее поле, равное 1em*/
        padding-left: 0; /*убираю левый отступ, равный 40px*/

      }
    a{ text-decoration: none;
      font-size: 26pt;
      color:white;}/*убираю подчеркивание текста ссылок*/
    .menu1 {
    margin-right:15px; /*Добавляю отступ у пунктов меню*/
    float:right; /*Размещаю список горизонтально для реализации меню*/
    }
    header{
     background-color: lightskyblue;
     height: auto;
     width: 100%;
     margin: 0px;
    }
    section{
     background-color: gray;
     height: auto;
    width: 100%;
    }
    #container{
      display: flex;
      justify-content: center;
      justify-content: space-between;
    }
    .box1{
     background-color: tomato;
     height: auto;
     width: 48%;
    }
    .box2{
     background-color: tomato;
     height: auto;
     width: 48%;
    }
    .prefooter{
     background-color: silver;
     height: 40px;
    }
    footer{
     background-color: black;
     height: 100px;
    }
}

  @media ( max-width: 550px) {   /*------------------------------------------------------------------------------------------------------------------------------------------------*/
    nav{
     background-color: royalblue;
     height: 25px;
     display:flex;
     justify-content:center;
    }
    #container{
     display: flex;
     justify-content: center;
     flex-direction: column;

    }
    section{
     background-color: gray;
     height: auto;
     width: 100%;
     margin: 0;
     margin-top:2% ;
    }
    .box1{
     background-color: tomato;
     height: auto;
     width: 100%;
     margin-bottom: 2%;
    }
    .box2{
     background-color: green;
     height: auto;
     width: 100%;
     margin-top:2% ;
    }
    .menu {
        list-style: none; /*убираю маркеры списка*/
        margin: 0; /*убираю верхнее и нижнее поле, равное 1em*/
        padding-left: 0; /*убираю левый отступ, равный 40px*/

      }
a{ text-decoration: none;
  font-size: 15pt;}/*убираю подчеркивание текста ссылок*/
.menu1 {
    margin-right:15px; /*Добавляю отступ у пунктов меню*/
    float:right; /*Размещаю список горизонтально для реализации меню*/
  }
  footer{
   background-color: black;
   height: 100px;
  }
  #Elon{
    float: left;
    width: 30%;
    padding: 10px;
  }
    #teslaicon{
      float: left;
      width: 20%;
      padding: 10px;
    }
    #spaceicon{
        float: left;
      width: 30%;
      padding: 10px;
    }
    header{
     background-color: lightskyblue;
     height: auto;
    }
}
